<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Dealership About Us</title>
    {% include "partials/bootstrap.html" %}
    {% include "partials/inline-style.html" %}
</head>
<body>
    <div class="container">
        {% include "partials/nav.html" %}
        <div class="row">
            <div class="col-auto">
                <h1>
                    Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
                </h1>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
</body>
</html>