{% extends 'djangoapp/base.html' %}
{% block content %}
<main class="container">
    <div class="row m-2">
        <div class="col">
            <h1>Contact Us</h1>
        </div>
        <div class="col">
            <div class="d-flex flex-row">
                <address class="d-flex flex-column">
                    <span><a href="mailto:test@example.com">test@example.com</a></span>
                    <span><a href="tel:+14155550132">+1 (415) 555‑0132</a></span>
                    <span>National Car Dealership</span>
                    <span>1234 National Way</span>
                    <span>Anytown, USA</span>
                </address>
            </div>
        </div>
    </div>
</main>
{% endblock content %}