{% extends 'djangoapp/base.html' %}
{% block content %}
<main class="container">
    <div class="row m-2">
        {% if dealer %}
        <h1>Dealer Details: {{dealer.short_name}}<h1>
            <div class="row">
                <div class="col">
                    {{dealer.full_name}}
                    {{dealer.address}}
                    {{dealer.city}}
                    {{dealer.st}}
                </div>
            </div>
        {% else %}
            <div class="row">
                Loading...
            </div>
        {% endif %}
    </div>
</main>
{% endblock content %}