{% extends 'djangoapp/base.html' %}
{% block content %}
<main class="container">
    <div class="row m-2">
        <h1>Dealerships</h1>
        {% if dealerships %}
            <div class="container">
                <table class="table" id="table" data-filter-control="true">
                    <thead>
                        <tr>
                            <th scope="col" data-field="id">ID</th>
                            <th scope="col" data-field="name">Dealer Name</th>
                            <th scope="col" data-field="address">Address</th>
                            <th scope="col" data-field="city">City</th>
                            <th scope="col" data-field="state" data-filter-control="select">State</th>
                            <th scope="col" data-field="zip">Zip</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dealership in dealerships %}
                        <tr>
                            <th scope="row">{{ dealership.id }}</th>
                            <td><a href="{% url 'djangoapp:dealer_details' dealership.id %}">{{ dealership.full_name }}</a></td>
                            <td>{{ dealership.address }}</td>
                            <td>{{ dealership.city }}</td>
                            <td>{{ dealership.st }}</td>
                            <td>{{ dealership.zip }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <div class="container">
            Loading...
        </div>
        {% endif %}
    </div>
</main>
<script>
$(function() {
    $('#table').bootstrapTable();
});
</script>
{% endblock content %}